<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Конструктор смарт-контрактов</title>
</head>
<body>
    <form action="output/" method="post">
        {% csrf_token %}
        <fieldset>
            <legend>Имя:</legend>
            <input type="text" name="name">
            <legend>Аббривеатура:</legend>
            <input type="text" name="abb">
            <legend>Количество токенов:</legend>
            <input type="text" name="token_count">
            <legend>Начало распродажи:</legend>
            <input type="date" name="start_d">
            <legend>Время распродажи:</legend>
            <input type="text" name="time_ico">
            <legend>Адрес кошелька:</legend>
            <input type="text" name="restricted">
            <legend>Процент создателю:</legend>
            <input type="text" name="percent">
        </fieldset>
        <input type="submit">
    </form>
</body>
</html>